.products-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    gap:var(--spacing-2);
    width: 100%;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-top: 5rem;
}

.alert-container{
    display: flex;
    justify-content: space-between;
    position: relative;
}
  .right-side{
  width: auto;
   }