/* .cart-page {
    margin-top:var(--spacing-1-5);
    max-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 30rem;
    grid-gap: var(--spacing-3);
    height: 100%;
}
.cart-container {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-2);
    
}
.checkout-container {
    background-color: var(--card-bg-color);
    display: flex;
    flex-direction: column;
    padding: var(--spacing-2);
    color: var(--text-primary-color);
    height: fit-content;
}
@media (max-width: 600px) {
    .cart-page {
        grid-template-columns: 1fr;
    }

    .cart-item img {
        width: 100px;
        height: 100%;
        object-fit: cover;
    }
} */
.cart-wrapper{
    display: flex;
    padding: 0 7rem;
    gap: 5rem;
    flex-wrap: wrap;
    background-color: hsl(0, 0%, 97%);
}
.wrapper-content{
    width: 50%;
    height: auto;
    padding: var(--spacing-1-5);
    margin: 5rem 0;
    position: relative;
}
.wrapper-amount{
    width: 40%;
    height: auto;
    padding: var(--spacing-1-5);
    margin: 5rem 0;
    position: relative;
}
.header_title{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 1.5rem;
    font-size: 1.7rem;
}
@media (max-width: 600px) {
    .cart-wrapper{
        padding: 0 0;
    }
    .wrapper-content,.wrapper-amount{
        width: 100%;
    }
}
