.empty-page{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}
.empty-text{
text-align: center;
}
.empty-text span {
    font-size: 2rem;
    font-weight: 400;
    color: var(--highlight-text-color);
  }
 .empty-img{
     width: 400px;
     height: 400px

 } 
 image-resp{
     width: 100%;
     height: 100%;
     object-fit: cover;
 }